<!DOCTYPE html>
<html lang="en">
<head>

    <!--  used partials bcoz ye common content h har jagaha kaam aayaga -->
    <%- include('./partials/head') %>
    <title>Home page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <%=JSON.stringify(user) %>

    <%- include('./partials/scripts') %>
</body>
</html>